*{
    font-family: 'Poppins', sans-serif;
   background-color: rgb(39, 23, 139); 
   color: white;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   
}
.head{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
}
.searchbar{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.search{
    width: 80vh;
    height: 50px;
    padding: 10px;
}
.addbtn{
    margin-left: 30px;
    width: 120px;
    font-weight: bold;
    background-color: rgba(74, 57, 127, 0.7);
}
.main{
    /* display: flex; */
    /* justify-content: center; */
    display: grid;
    margin-left: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    margin-bottom: 50px;
}
.card{
    /* position: absolute; */
    padding: 10px;
    background-color: pink;
    width: 320px;
    height: 200px;
    border-radius: 50px;
    
}
.bg{
    /* position: relative; */
}
.temp{
    padding-left: 10px;
    padding-top: 40px;
    font-size: 60px;
}
img{
    float: right;
    width: 160px;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
li{
    list-style-type: none;
    padding: 3px;
}
.stext{
    /* list-style-type: none; */
    font-size: xx-small;
    display: flex;
    color: rgb(203, 31, 31);
}
.location{
font-size: 20px;
}
.weather{
font-size: small;
}
/* ===================form================= */
form{
    background-color: white;
    height: 550px;
    width: 400px;
    margin-top: 5%;
    margin-left: 37%;
    margin-bottom: 40px;
    padding: 30px;
    
}
.fform{
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    
}
input{
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
}
label{
    display: flex;
    justify-content: center;
    
}
.addbtn2{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 130px ;
    width: 120px;
    padding: 10px;
    font-weight: bold;
}